<h1>Listing webhook_event_requests</h1>

<table>
  <thead>
    <tr>
      <th>Payload</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @webhook_event_requests.each do |webhook_event_request| %>
      <tr>
        <td><%= webhook_event_request.payload %></td>
        <td><%= link_to 'Show', webhook_event_request %></td>
        <td><%= link_to 'Edit', edit_webhook_event_request_path(webhook_event_request) %></td>
        <td><%= link_to 'Destroy', webhook_event_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webhook event request', new_webhook_event_request_path %>
